/**
 * Child Theme Variables
 * Use this file to override any variables that are set in the compiler
 * Becuase the compiler uses the !default attribute for all variable declarations
 *
 * Use this to specify variables that cannot be changed.
 */
$brand-primary: #65BF11;
$link-disabled-color:   #ccc;
$column-count-state: 2;
$column-gap: 0;
$column-count-city: 1;


